<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        #text {
            display: none;
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            }
       
    </style>
    <link rel="shortcut icon" type="image/png" href="./img/codingstray-website-favicon-color.png"/>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <script src="../js/bootstrap.bundle.min.js" ></script>
    <script src="https://kit.fontawesome.com/c3fa79eb6c.js" crossorigin="anonymous"></script>

    <script src="../js/jquery3.6.0.min.js"></script>
  
    <title>Document</title>
</head>
<body>
    <style>
        body {
            background-color: #d8efe3;
            padding-top: 65px; 
            font-family: 'Noto Serif TC', serif;
        }
    </style>
    <div class="container">
        <img class="rounded img-fluid" src="https://i.seadn.io/gcs/files/c0a2753ba06416327a18b8a76d8c2afc.gif?auto=format&w=1920" alt="backgroundPic" style="object-fit: cover;"></div>
    </div>
     <div class="container">
        <div class="row" >
            <div class="pic col-2 mt-2">
                <div>
                    <img class="img-fluid rounded img-thumbnail" src="https://drive.google.com/uc?export=view&id=1IZuH5zEJBQnTmfKkfXQmLcuOZxAHe9Rr">
                </div>
            </div>
            <div class="col-10">
                <div class="text-start mt-4">
                    <h2 class="text-start">My profile</h2>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, dolor accusamus, voluptatem atque autem facere et soluta, nemo dolorum tempora saepe? Ullam eligendi ea, assumenda non rem cum? Nisi, maiores.
                </div>
                <div  class="row text-center text-success border border-dark rounded" style="margin-top: 10px;">
                    <div class="col-4"><h4>216<br>Post</h4></div>
                    <div class="col-4"><h4>505<br>Followers</h4></div>
                    <div class="col-4"><h4>31<br>Follwing</h4></div>
                </div>
            </div>
        </div>
        <div class="row mx-auto mt-3">
            <div class="article col-4" id="1">
                <div class="mr-1 bg-primary">
                    <div class="card">
                        <img src="https://i.ibb.co/cgwFhSr/2023-04-15-9-30-04.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                        <div id="text" class="text-light">
                            <h1>
                                <i class="fa-regular fa-heart fa-sm" style="color: #fafafa;"></i>12
                                <i class="fa-solid fa-eye fa-sm" style="color: #ffffff;"></i>225
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="article col-4">
                <div class="mr-1 bg-primary">
                    <div class="card">
                        <img src="https://i.ibb.co/cgwFhSr/2023-04-15-9-30-04.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                        <div id="text" class="text-light">
                            <h1>
                                <i class="fa-regular fa-heart fa-sm" style="color: #fafafa;"></i>5
                                <i class="fa-solid fa-eye fa-sm" style="color: #ffffff;"></i>222
                            </h1>
                        </div>
                    </div>
                </div>  
            </div>
            <div class="article col-4 ">
                <div class="bg-primary">
                    <div class="card">
                        <img src="https://i.ibb.co/cgwFhSr/2023-04-15-9-30-04.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                        <div id="text" class="text-light">
                            <h1>
                                <i class="fa-regular fa-heart fa-sm" style="color: #fafafa;"></i>5
                                <i class="fa-solid fa-eye fa-sm" style="color: #ffffff;"></i>222
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3 mx-auto">
            <div class="article col-4" id="1">
                <div class="mr-1 bg-primary">
                    <div class="card">
                        <img src="https://i.ibb.co/cgwFhSr/2023-04-15-9-30-04.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                        <div id="text" class="text-light">
                            <h1>
                                <i class="fa-regular fa-heart fa-sm" style="color: #fafafa;"></i>12
                                <i class="fa-solid fa-eye fa-sm" style="color: #ffffff;"></i>225
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="article col-4 ">
                <div class="mr-1 bg-primary">
                    <div class="card">
                        <img src="https://i.ibb.co/cgwFhSr/2023-04-15-9-30-04.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                        <div id="text" class="text-light">
                            <h1>
                                <i class="fa-regular fa-heart fa-sm" style="color: #fafafa;"></i>5
                                <i class="fa-solid fa-eye fa-sm" style="color: #ffffff;"></i>222
                            </h1>
                        </div>
                    </div>
                </div>  
            </div>
            <div class="article col-4 ">
                <div class="bg-primary">
                    <div class="card">
                        <img src="https://i.ibb.co/cgwFhSr/2023-04-15-9-30-04.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                        <div id="text" class="text-light">
                            <h1>
                                <i class="fa-regular fa-heart fa-sm" style="color: #fafafa;"></i>5
                                <i class="fa-solid fa-eye fa-sm" style="color: #ffffff;"></i>222
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     <script>
        $(function(){
            $('.pic').mouseenter(function() {
            $(this).css('transform', 'scale(1.2)');
            });
            $('.pic').mouseleave(function() {
             $(this).css('transform', 'scale(1)');
            });
            $('.card').mouseover(function() {
           $(this).find('#text').show();
           }).mouseout(function() {
           $(this).find('#text').hide();
           });
        })
     </script>
</body>
</html>